<ul class="">
	<li ng-repeat="item in found" class="list-item">
		
		<a href="" ng-click="item.short_name">(<p ng-bind="item.short_name"></p>)<p ng-bind="item.name" class="label label-value"></p></a>

		<span class="label label-name">Short name:</span>

		<a href="" ng-click="item.short_name"><p ng-bind="item.short_name"></p></a>

		<span class="label label-name">Description:</span>

		<p ng-bind="item.description" class="label label-value"></p>

		<button class="btn" ng-click="onRemove({itemIndex: $index})">Don't want this one!</button>
	</li>
</ul>
